modules = ["python-3.12", "bash"]
run = "run.sh"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "run.sh"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 39766917
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "sh run.sh"

[[ports]]
localPort = 8501
externalPort = 80

[[ports]]
localPort = 8502
externalPort = 3000
